@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #ff833e;
  --primart-color-dark: #db6f35;
  --text-dark:#333333;
  --text-light: #767268;
  --white:#ffffff;
  --max-width: 1200px;
  /* "Bebas Neue", sans-serif; */
  --header-font: "Bebas Neue", sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  display: flex;
  width: 100%;
}

a{
  text-decoration:none;
  transition:0.3s;
}

body{
  font-family: 'Poppins', sans-serif;
}

nav{
  position: fixed;
  isolation: isolate;
  width:100%;
  z-index:9;
}

.nav__header{
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a{
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.nav__menu__btn{
  font-size: 1.5rem;
  color:var(--white);
  cursor: pointer;
}

.nav__links{
  position: absolute;
  top:64px;
  left:0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:2rem;
  background-color: var(--primary-color);
  transition:0.5s;
  z-index:-1;
  transform: translateY(-100%);
}

.nav__links.open{
  transform: translateY(0);
}

.nav__links a{
  font-weight: 500;
  counter-reset:var(--white);
}

.nav__links a:hover{
   color:var(--text-dark);
}

.nav__btns{
  display:none;
}